.header-wrapper {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  padding: 35px 0 35px 0;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-name {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.nav {
  width: 527px;
}

.nav a {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.nav-link {
  padding-left: 0px;
  display: flex;
  list-style-type: none;
}
